@font-face {
    font-family: 'Calibri';
    src: url('fonts/calibri.eot');
    src: url('fonts/calibri.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibri.woff') format('woff'),
         url('fonts/calibri.ttf') format('truetype'),
         url('fonts/calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;

}
