body {
	text-align: center;
	font-family: Calibri;
	font-size: 16px;
	background-color: #d2d2d2;
}

* {
	margin: 0px;
	padding: 0px;
}

a {text-decoration: none;}

h3 {
	line-height: 30px;
	background: #535353;
	color: #fff;
	text-align: left;
}

.main {
	margin: 0 auto;
	width: 1005px;
	background-color: #fff;
}

.header {
	float: left;
	width: 1005px;
	height: 141px;
	background: url("../img/header-bg.png");
}

.logo {
	float: left;
	width: 379px;
	padding: 28px 0 10px 37px;
}

.lang {
	float: right;
	padding: 3px 6px 3px 7px;
	margin-top: 14px;
	margin-right: 21px;
	border: 1px solid #000;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.lang a {
	height: 19px;
	color: #000;
	font-weight: bold;
	/*font-size: 1.5em;*/
	padding-left: 5px;
	text-decoration: none;
	border-left: 1px solid #d8d8d8;
}

.lang a:first-child {
    border-left: 0px;
    padding-left: 0px;
}

.lang a:hover, .lang a.selected {
	color: #939393;
}

ul.menu {
	width: 505px;
	float: left;
	margin: 29px  0 0 64px;
}

ul.menu li {
	float: left;
}

ul.menu li a {
	display: block;
	height: 35px;
	background: url("../img/menu-bg.png") repeat-x #3b3b3b;
	margin-left: 7px;
	padding: 0 19px;
	color: #ededed;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 33px;
	border: 1px solid #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

ul.menu li a:hover {
	
}

.shadow {
	-moz-box-shadow:    inset 0px 0px 9px #9E9D9D;
    -webkit-box-shadow: inset 0px 0px 9px #9E9D9D;
    box-shadow:         inset 0px 0px 9px #9E9D9D;
	/*filter:  progid: DXImageTransform.Microsoft.Shadow(color=#9E9D9D, direction=135,strength=10) */;
}

.content {
	float: left;
	width: 664px;
	margin-left: 6px;
}

.content h3, .black-title {
	width: 653px;
	height: 31px;
	clear: both;
	padding-left: 8px;
	font-weight: bold;
}

.black-title {background-color: #000;}

.accessorys {
	float: left;
}

.accessorys-img,.accessorys-info {
	border: 1px solid #dedede;
	margin-top: 3px;
	margin-bottom: 8px;
}

.accessorys-img {
	float: left;
	width: 160px;
	min-height: 154px;
}

.accessorys-info {
	float: left;
	width: 468px;
	margin-left: 5px;
	min-height: 130px;
	font-weight: bold;
	padding: 12px 12px 12px 11px;
}

.accessorys-info a,.accessorys-img a {
	display: block;
	color: #000;
}

.accessorys-info h3 {
	width: 115px;
	padding: 0 9px;
}

.accessorys-info p {
	text-align: left;
	padding-top: 5px;
}

.full-story {
	float: left;
	width: 637px;
	margin: 4px 0 10px 0;
	padding: 11px 10px 16px 11px;
	border: 1px solid #dedede;
}

.full-story img {}

.full-story p {
	text-align: left;
	font-weight: bold;
	font-size: 14px;
}

.accessory {
	float: left;
	width: 160px;
	margin-right: 4px;
	margin-top: 5px;
	border: 1px solid #dedede;
}

.accessory a {
	display: block;
	height: 150px;
}

.accessory a img {
	margin: 25px 0;
}

.accessory h3 {
	width: 153px;
	height: 24px;
	font-size: 0.9em;
	line-height: 24px;
	font-weight: bold;
}

.carousel {
	float: left;
	width: 992px;
	height: 158px;
	margin: 5px 6px 12px 5px;
	position: relative;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.slide {
	float: right;
	margin-right: 7px;
	width: 304px;
	height: 627px;
	color: #545454;
	padding: 12px 8px 8px 8px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.slide span, .slide h1, .slide p {width: 280px;}

.slide span {
	display: block;
	color: #a4a4a4;
}

.slide h1 {
	font-size: 36px;
}

.slide p {
	margin: 4px 0 5px 9px;
	text-align: left;
	padding-left: 7px;
	border-top: 2px solid #d7d7d7;
	border-bottom: 2px solid #d7d7d7;
}

#sliderota {
  width: 304px; /* change to the width you want */
  height: 628px; /* change to the height you want */
  overflow: hidden;
  position: relative;
  background: url(SagSliderBg.jpg) no-repeat;
  }
  
  #sliderota .slides {
    position: absolute;
    top: 0;
    left: 0;
    }
  
  #sliderota img {
    /*float: left;*/
    border:0px;
  	width: 305px; /* change to the width you want */
  	height: 532px; /* change to the height you want */
    }
    
 #sliderota .slides a {float: left; color: #545454;}
  
  #sliderota ul {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    }
  
  #sliderota ul li  {
    float: left;
    }  
    
    #sliderota ul li a {
      background: url("../img/controls.png") no-repeat 0 0;
      width: 16px;
      height: 16px;
      display: block;
      float: left;
      }
      
    #sliderota ul li.selected a {
      background-position: -18px 0;
      }
      
  #sliderota .controls a {
    z-index: 100;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url("../img/controls.png") no-repeat -54px 0;
    width: 16px;
    height: 16px;
    }
    
    #sliderota .controls a.play {
      display: none;
      background-position: -36px 0;
      }

.footer {
	float: left;
	width: 1005px;
	height: 35px;
	margin-bottom: 20px;
	margin-top: 47px;
	background: #535353;
	text-align: left;
}

.footer span {
	float: left;
	margin: 10px 0 0 20px;
	color: #fff;
	font-weight: bold;
}

.clear {clear: both;}

.space {
	float: left;
	width: 659px;
	height:20px;
	
}